.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}
.product-container{
  display: flex;
  flex-direction: column;
  gap:10px
}
.container{
  display: flex;
  align-content: center;
  justify-content: center;
}
.sub-container{
  display: flex;
  flex-direction: column;
}
.pagination-container{
  display: flex;
  gap:10px;
  margin-top: 10px;
  justify-content: center;
}
.active{
  background-color: #61dafb;
}
.page{
  cursor: pointer;
}